// Product List
// ========================================================================
// name
$product-name-color:                #333333 !default;
$product-name-hover-color:          $link-hover-color !default;
$product-name-font-family:          $font-family-base !default;
$product-name-font-size: 			13px !default;
$product-name-font-weight:          normal !default;

//price 
$product-price-color:               #dc342d !default;
$product-price-font-family:         $font-family-base !default;
$product-price-font-size:           14px !default;
$product-price-font-weight:         bold !default;
$product-price-regular-color:       #999999 !default;
$product-price-discount-bg:         #ba080b !default;
$product-price-discount-color:      white !default;

// image
$product-image-border:              $main-border !default;
$product-image-radius:              0px !default;

// Product Flats
$product-flags-new-bg:              $brand-primary !default;
$product-flags-sale-bg:             $brand-info !default;
$product-flags-discount-bg:         #f2434a !default;
$product-flags-online-only-bg:      $brand-warning !default;