@import "theme_variables";

#password{
  .page-header{
    margin-bottom: 40px;
    text-align: center;
  }
  .page-content{
    max-width: 700px;
    margin: auto;
  }
} 
.forgotten-password {
  .form-fields {
    .center-email-fields {
      @media (max-width: 767px) {
        flex-direction: column;

        button {
          margin: 10px;
          width: calc(100% - 20px);
        }
      }

      button {
        height: 38px;
      }
    }
    .email {
      @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
      }
      input {
        height: 38px;
      }
    }
  }
}
