/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
@media (min-width: 1330px) {
  #index .container {
    width: 1300px; } }
@media (max-width: 1229px) and (min-width: 992px) {
  #index .container {
    width: 100%; } }

.ApProductCarousel > .block_content {
  margin-top: 0px; }

.box-slideshow {
  padding-top: 30px;
  margin-bottom: 50px; }
  @media (min-width: 576px) {
    .box-slideshow {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; } }
  @media (max-width: 1700px) and (min-width: 1300px) {
    .box-slideshow {
      margin-left: 15px;
      margin-right: 15px; } }
  @media (max-width: 1299px) {
    .box-slideshow {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 20px; } }
  @media (max-width: 991px) {
    .box-slideshow {
      margin-left: 7.5px;
      margin-right: 7.5px;
      margin-bottom: 30px;
      padding-top: 15px; } }
  @media (max-width: 767px) {
    .box-slideshow {
      margin-left: 5px;
      margin-right: 5px;
      padding-top: 10px; } }
  @media (max-width: 575px) {
    .box-slideshow {
      margin-left: 0px;
      margin-right: 0px;
      padding-top: 15px; } }
  @media (max-width: 1299px) {
    .box-slideshow > [class*="col-"] {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 991px) {
    .box-slideshow > [class*="col-"] {
      padding-left: 7.5px;
      padding-right: 7.5px; } }
  @media (max-width: 767px) {
    .box-slideshow > [class*="col-"] {
      padding-left: 5px;
      padding-right: 5px; } }
  @media (max-width: 575px) {
    .box-slideshow > [class*="col-"] {
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 1700px) and (min-width: 576px) {
    .box-slideshow .block-left {
      width: 79.99%;
      margin-left: 0px; }
      .rtl .box-slideshow .block-left {
        margin-right: 0px;
        margin-left: inherit; } }
  @media (max-width: 575px) {
    .box-slideshow .block-left {
      margin-bottom: 15px; } }
  @media (max-width: 1700px) and (min-width: 576px) {
    .box-slideshow .block-right {
      width: 20.11%; } }

.box-banners {
  margin-bottom: 25px; }
  @media (max-width: 767px) {
    .box-banners {
      margin-left: -10px;
      margin-right: -10px; } }
  @media (max-width: 991px) {
    .box-banners .left-block {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 991px) and (min-width: 576px) {
    .box-banners .left-block {
      padding-left: 0px;
      padding-right: 0px; } }
  @media (max-width: 991px) and (min-width: 576px) {
    .box-banners .left-block .banner {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      float: left; }
      .rtl .box-banners .left-block .banner {
        float: right; } }
  @media (max-width: 767px) and (min-width: 576px) {
    .box-banners .left-block .banner {
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 767px) {
    .box-banners .center-block, .box-banners .right-block {
      padding-left: 10px;
      padding-right: 10px; } }
  .box-banners .banner {
    margin-bottom: 26px; }
    @media (max-width: 767px) {
      .box-banners .banner {
        margin-bottom: 15px; } }

.box-product-deal {
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .box-product-deal {
      margin-bottom: 30px; } }
  @media (min-width: 576px) {
    .box-product-deal .title-product-deal .title-deal {
      width: 50%;
      float: left; }
      .rtl .box-product-deal .title-product-deal .title-deal {
        float: right; }
    .box-product-deal .title-product-deal .coundown {
      width: 50%;
      float: left;
      text-align: right; }
      .rtl .box-product-deal .title-product-deal .coundown {
        float: right; }
      .rtl .box-product-deal .title-product-deal .coundown {
        text-align: left; } }

.box-product-banner {
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    .box-product-banner {
      margin-bottom: 30px; } }
  @media (min-width: 576px) {
    .box-product-banner .title-product-banner .title_block {
      padding-right: 70px; }
      .rtl .box-product-banner .title-product-banner .title_block {
        padding-left: 70px;
        padding-right: inherit; } }
  .box-product-banner .owl-theme .owl-buttons, .box-product-banner .carousel .direction {
    top: -30px; }
    @media (max-width: 575px) {
      .box-product-banner .owl-theme .owl-buttons, .box-product-banner .carousel .direction {
        position: static;
        margin: auto; } }

.box-banner, .box-two-banner, .box-three-banner {
  margin-bottom: 20px; }
  .box-banner .banner, .box-two-banner .banner, .box-three-banner .banner {
    margin-bottom: 30px; }

.box-manufactures {
  margin-bottom: 50px; }
  @media (max-width: 991px) {
    .box-manufactures {
      margin-bottom: 30px; } }

/*# sourceMappingURL=profile1491397774.css.map */
