.carousel{
  .direction{
    position: absolute;
    top: -45px;
    width: $carousel-control-width-total;
    z-index: 9;
    @include rtl-right($grid-gutter-width-base/2);
    @include clearfix();
  }
}
.carousel-control{
  position: relative;
  background: none !important;
  text-align: center;
  display: inline-block;
  width: $carousel-control-width-size;
  height: $carousel-control-height-size;
  @include transition(all 0.3s ease);
  .sr-only{
    display: none;
  }
  .icon-prev, .icon-next{
    width: auto;
    height: auto;    
    text-indent: 0px;
    font-size: $carousel-control-font-icon;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    color: $carousel-control-color;
    display: block;
    background: $carousel-control-background;
    border: $carousel-control-border;
    @include border-radius($carousel-control-border-radius); 
    @include rtl-margin(0,0,0,0);
    @include transition(all 0.3s ease);
    &:before{
      z-index: 9;
      display: block;
      font-weight: $carousel-control-font-weight;
      line-height: $carousel-control-line-height;
      font-family: $carousel-control-font-family-icon;
    }
    &:hover{
      @media (min-width: 992px) {
        background: $carousel-control-background-hover;
        color: $carousel-control-color-hover;
        border-color: $carousel-control-border-hover;
        &:before{
          
        }
      }
    }
  }
  &.left{
    float: left;
  }
  &.right{
    float: right;
  }
  
  .icon-prev{
    &:before{
      content: $carousel-control-icon-prev;
    }
  }
  .icon-next{
    &:before{
      content: $carousel-control-icon-next;
    }
  }
}

.button-middle{
  .direction {
    position: static;
    @media(min-width: 992px){
      .carousel-control{
        position: absolute;
        top: 50%;
        margin-top: -$carousel-control-height-size/2;
        z-index: 99;
        &.left{
          left: -$grid-gutter-width-base;
          right: auto;
        }
        &.right{
          right: -$grid-gutter-width-base;
          left: auto;
        }
      }
    }
    @media(max-width: 991px){
      margin: auto;
    }
  } 
  &.button-hover{
    @media(min-width: 992px){
      .direction {
        .carousel-control{
          @include opacity(0);
          &.left{
            left: -50px;
            right: auto;
          }
          &.right{
            right: -50px;
            left: auto;
          }
        }
      }
      .carousel:hover{
        .direction .carousel-control{
          @include opacity(1);
          &.left{
            left: -18px;
            right: auto;
          }
          &.right{
            right: -18px;
            left: auto;
          }
        }
      }
    }
  }
}

.button-bottom{
  .direction{
    text-align: center;
    position: static;
    display: block;
    width: auto;
    margin-left: -3px;
    margin-right: -3px;
    .carousel-control{
      margin: 0 3px;
      &.left{
        float: none;
      }
      &.right{
        float: none;
      }
    }
  }
  &.button-right{
    .direction{
      @include rtl-text-align-right();
    }
  }
  &.button-left{
    .direction{
      @include rtl-text-align-left();
    }
  }
}

.button-top{
  .direction{
    margin: auto;
    @include rtl-left-right(0,0);
  }
}


// Override Input
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}
input[type="file"]{
  height: auto;
}

//@mixin button-variant-outline($color, $background, $border, $colorhover, $bghover, $borderhover ) {
.btn-inverse{
  @include button-variant-outline($white, $theme-color-default, $theme-color-default, $white, $theme-color-button-hover, $theme-color-button-hover);
} 
.btn-outline,.btn-primary{
  @include button-variant-outline($white, $theme-color-default, $theme-color-default, $white, $theme-color-button-hover, $theme-color-button-hover);
}
.btn{
  @include rounded-corners($btn-border-radius);
  &:active, 
  &:focus, 
  &:visited,
  &.active:focus,
  &:active:focus {
    outline: none !important;
    @include box-shadow(none);
  }
}
